body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header,
.footer {
  height: 50px;
  color: #ffffff;
  background-color: #793b44;
}

.content {
  flex-grow: 1;
  align-self: center;
  padding: 2%;
  max-width: 300px;
  background-color: #fff2f6;
}

.form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  border: 1px solid black;
  border-radius: 5%;
  padding: 5%;
  width: 200px;
}

#submitButton:enabled {
  background-color: #793b44;
  color: white;
  border: 1px solid #793b44;
}

#submitButton:disabled {
  background-color: lightgray;
  color: black;
  border: 1px solid lightgray;
}

#errorMessage {
  color: #793b44;
  font-size: 14px;
}
