body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header,
.footer {
  height: 50px;
  color: #ffffff;
  background-color: #793b44;
}

.content {
  flex-grow: 1;
  align-self: center;
  padding: 2%;
  max-width: 300px;
  background-color: #fff2f6;
}

.form {
  border: 1px solid black;
  border-radius: 5%;
  padding: 5%;
}
